<div class="box">
  <h1>Stupid Coaching</h1>
</div>

<div class="box question">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="box answer">
  <p><strong><%= @answer  %></strong></p>
  <p>-Your coach</p>
</div>

<div class="box">
  <%= link_to "get more wisdom", '/ask' %>
</div>
